<div class="mainBody">
  <div class="mainLeftContent cell">
    <div class="leftRow">
      <div class="halves">

        <div class="oneLeft cell">
          <app-article-block [article]="articles[0]"></app-article-block>
        </div>
        <div class="oneRight">
          <div class="oneRightTop  cellBottom">
            <app-article-block [article]="articles[1]"></app-article-block>
          </div>
          <div class="oneRightBottom">
            <app-article-block [article]="articles[2]"></app-article-block>
          </div>
        </div>
      </div>
    </div>
    <div class="leftRow noBottomBorder">
      <div class="twoTop twoThirdsRight">
        <div>
          <div class="headline1">
            Kavanaugh Is Pressed to Explain Previously Secret Email on Abortion Rights
          </div>
          <div class="subheadline">
            <ul>
              <li>"I am not sure that all legal scholars refer to Roe as the settled law of the land at the Supreme Court Level," Judge Brett M. Kavanaugh wrote in 2003 about the Roe v. Wade abortion ruling</li>
              <li>To Democrats and abortion rights advocates, that message appeared to contradict testimony from the Supreme Court nominee on Wednesday, when he said he considered Roe "settled as precedent."</li>
            </ul>
            <div class="updated">
              Sept. 6
            </div>
          </div>
        </div>
        <div>
          <img src="img/merlin_143380935_4b452ef3-99d8-46fa-9fec-73dac24caecf-threeByTwoLargeAt2X.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="leftRow thirds">
      <div class="cell">
        <div class="headline3">
          For a glimpse of the future of abortion under a new Supreme Court, look to Arkansas.
        </div>
        <div class="updated">
          Sept. 6
        </div>
      </div>
      <div>
        <div class="headline3">
          Some of the Democrats grilling Judge Kavanaugh have their eye on the White House.
        </div>
        <div class="updated">
          Sept. 6
        </div>
      </div>


    </div>

  </div>
  <div class="mainRightContent">
    <div class="opinion">
      <div class="opinionTitle">
        <span class="headline2">Opinion</span> <svg width="7" height="11" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l4.333 5L1 11" stroke="#121212" stroke-width="2" fill="none" fill-rule="evenodd"></path></svg>
      </div>
      <div class="opinionCell cellBottom">
        <div class="opinionAuthor">
          The Editorial Board
        </div>
        <div class="headline3">
          There Oughta Be a Law ...
        </div>
        <div class="subheadline">
          President Trump's contempt for the Constitution confirms the harshest charges leveled in recent accounts of his off-the-rails presidency.
        </div>
        <div class="updated">
          1h ago
        </div>
      </div>
      <div class="opinionCell halves cellBottom">
        <div>
          <div class="authorImage">
            <img src="img/Friedman-Richard-circular-thumbLarge.jpg" alt="">
          </div>
          <div class="opinionAuthor">
            Richard A. Friedman
          </div>
          <div class="headline3">
            The Big Myth About Teenage Anxiety
          </div>
          <div class="subheadline">
            Relax: The digital age is not wrecking your kid's brain.
          </div>
          <div class="updated">
            1h ago
          </div>
        </div>
        <div class="articleImage">
          <img src="img/09friedman-square640.jpg" alt="">
        </div>
      </div>
      <div class="opinionTwoColumn halves">
        <div class="opinionCell cell">
          <div class="cellBottom">
            <div class="authorImage">
              <img src="img/Friedman-Richard-circular-thumbLarge.jpg" alt="">
            </div>
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>
          </div>
          <div class="cellBottom">
            <div class="authorImage">
              <img src="img/Friedman-Richard-circular-thumbLarge.jpg" alt="">
            </div>
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>
          </div>
          <div class="cellBottom">
            <div class="authorImage">
              <img src="img/Friedman-Richard-circular-thumbLarge.jpg" alt="">
            </div>
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>
          </div>
          <div class="cellBottom">
            <div class="authorImage">
              <img src="img/Friedman-Richard-circular-thumbLarge.jpg" alt="">
            </div>
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>

            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
          </div>


        </div>

        <div class="opinionCell">
          <div class="cellBottom">
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>
          </div>
          <div class="cellBottom">
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>
          </div>
          <div class="cellBottom">
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>
          </div>
          <div class="cellBottom">
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>

            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
