<div class="mainBody">
  <div class="mainLeftContent cell">
    <div class="leftRow">
      <div class="halves">

        <div class="oneLeft cell">
          <app-article-block [article]="articles[0]"></app-article-block>
        </div>
        <div class="oneRight">
          <div class="oneRightTop  cellBottom">
            <app-article-block [article]="articles[1]"></app-article-block>
          </div>
          <div class="oneRightBottom">
            <app-article-block [article]="articles[2]"></app-article-block>
          </div>
        </div>
      </div>
    </div>
    <div class="leftRow">
      <div class="halves">

        <div class="oneLeft cell">
          <div class="oneLeftTop  cellBottom">
            <app-article-block [article]="articles[4]"></app-article-block>
          </div>
          <div class="oneLeftBottom">
            <app-article-block [article]="articles[5]"></app-article-block>
          </div>
        </div>
        <div class="oneRight">
          <app-article-block [article]="articles[3]"></app-article-block>
        </div>
      </div>
    </div>


  </div>
  <div class="mainRightContent">
    <div class="opinion">
      <div class="opinionTitle">
        <span class="headline2">Opinion</span> <svg width="7" height="11" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l4.333 5L1 11" stroke="#121212" stroke-width="2" fill="none" fill-rule="evenodd"></path></svg>
      </div>
        <app-opinion-head [editorial]="editorials[0]"></app-opinion-head>
        <app-opinion-head [editorial]="editorials[1]"></app-opinion-head>


      <div class="opinionTwoColumn halves">
        <div class="opinionCell cell">
          <div class="cellBottom">
            <div class="authorImage">
              <img src="img/Friedman-Richard-circular-thumbLarge.jpg" alt="">
            </div>
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>
          </div>
          <div class="cellBottom">
            <div class="authorImage">
              <img src="img/Friedman-Richard-circular-thumbLarge.jpg" alt="">
            </div>
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>
          </div>
          <div class="cellBottom">
            <div class="authorImage">
              <img src="img/Friedman-Richard-circular-thumbLarge.jpg" alt="">
            </div>
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>
          </div>
          <div class="cellBottom">
            <div class="authorImage">
              <img src="img/Friedman-Richard-circular-thumbLarge.jpg" alt="">
            </div>
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>

            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
          </div>


        </div>

        <div class="opinionCell">
          <div class="cellBottom">
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>
          </div>
          <div class="cellBottom">
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>
          </div>
          <div class="cellBottom">
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>
          </div>
          <div class="cellBottom">
            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
            <div class="headline3">
              The Big Myth About Teenage Anxiety
            </div>

            <div class="opinionAuthor">
              Richard A. Friedman
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
