
  <div class="leftRow">
    <div class="halves">
      <div class="oneLeft cell">
        <app-article-block [article]="articles[0]"></app-article-block>
      </div>
      <div class="oneRight">
        <div class="oneRightTop  cellBottom">
          <app-article-block [article]="articles[1]"></app-article-block>
        </div>
        <div class="oneRightBottom">
          <app-article-block [article]="articles[2]"></app-article-block>
        </div>
      </div>
    </div>
  </div>
  <div class="leftRow">
    <div class="halves">
      <div class="oneLeft cell">
        <div class="oneLeftTop  cellBottom">
          <app-article-block [article]="articles[4]"></app-article-block>
        </div>
        <div class="oneLeftBottom">
          <app-article-block [article]="articles[5]"></app-article-block>
        </div>
      </div>
      <div class="oneRight">
        <app-article-block [article]="articles[3]"></app-article-block>
      </div>
    </div>
  </div>
