<div *ngIf="article && article.imageURL && article.imageShow">
  <img src="http://nyt.com/{{article.imageURL}}" alt="">
</div>
<div class="caption" *ngIf="article && article.caption">
  {{article.caption}}
  <div class="captionPhoto" *ngIf="article">
    {{article.captionCredit}}
  </div>
</div>
<div class="headline1" *ngIf="article">
  {{article.title}}
</div>
<div class="subheadline" *ngIf="article">
  <div *ngIf="!article.subtitle2">
    {{article.subtitle}}
  </div>
  <ul *ngIf="article.subtitle2">
    <li>{{article.subtitle}}</li>
    <li>{{article.subtitle2}}</li>
    <li *ngIf="article.subtitle3">{{article.subtitle3}}</li>
  </ul>
  <div class="updated">
    {{article.time}}
  </div>
</div>
