
<label>Article News Desk:</label>
  <select #newsDesk>
    <option value="National"> National </option>
    <option value="Sports"> Sports </option>
    <option value="Culture"> Culture </option>
    <option value="Business"> Business </option>
    <option value="Foreign"> Foreign </option>
    <option value="Movies"> Movies </option>
    <option value="Science"> Science </option>
    <option value="Technology"> Technology </option>
    <option value="Washington"> Washington </option>
    <option value="Weather"> Weather </option>
  </select>
<button type="button" name="button" (click)='getArticles(newsDesk.value)'>Return Results</button>

<div *ngFor="let article of articles; let i = index">
Article {{i}} Image:
<button type="button" name="button" (click)="imageToggle(i, 'hide')">hide</button>
<button type="button" name="button" (click)="imageToggle(i, 'show')">show</button>
</div>
